promprog_prep_hackathon_zip/promprog_prep_hackathon — копия/users/
promprog_prep_hackathon_zip/promprog_prep_hackathon — копия/queries/
promprog_prep_hackathon_zip/promprog_prep_hackathon — копия/sessions/
promprog_prep_hackathon_zip/promprog_prep_hackathon — копия/subscript/__pycache__/
promprog_prep_hackathon_zip/promprog_prep_hackathon — копия/.idea/
