{% extends "base.html" %}
{% block title %}Мой Профиль{% endblock %}

{% block content %}
<div class="container py-4">

    <!-- Header -->
    <div class="mb-5">
        <h1 class="fw-bold mb-1">Отправить глобальное меню</h1>
        <p class="text-secondary">Отправить глабольное меню</p>
    </div>

    <div class="row g-5">

        <!-- MAIN CONTENT -->
        <div class="col-lg-9">

            <!-- 1. Аватарка -->
            <form id="avatar-form" action="{{ url_for('send_global_file') }}" method="POST" enctype="multipart/form-data">
                <input name="commit_type" type="text" value="update_global" hidden>
                <div class="card card-hover p-4 border-0 mb-4 shadow-sm">
                    <h5 class="fw-bold mb-4">Отправить глобальное меню</h5>
                    <div class="d-flex align-items-center gap-4">
                        <div>
                            <input type="file" id="fileInput" name="global_menu" accept=".txt" style="display: none;">
                            <button id="uploadbtn" type="button" class="btn btn-sm btn-white border shadow-sm rounded-pill" onclick="document.getElementById('fileInput').click();">
                                Загрузить
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <script>
                document.getElementById('fileInput').addEventListener('change', function() {
                    if (this.files[0]) document.getElementById('avatar-form').submit();
                });
            </script>
        </div>
    </div>
</div>

<style>
    html {
        scroll-behavior: smooth;
    }
</style>

<div class="container py-4">
<div class="mb-2">
    <h1 class="fw-bold mb-1">Добавить блюдо</h1>
</div>
</div>

<div class="mb-3" style="width: 70%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
    <label class="form-label fw-semibold small text-muted">Название</label>
    <select class="form-select form-select-lg-custom" method="POST">
        {% for id, item in tovarlist.items() %}
            <option selected>{{item.name}}</option>
        {% endfor %}
    </select>
</div>

<div class="mb-3" style="width: 70%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
    <label class="form-label fw-semibold small text-muted">тип</label>
    <select class="form-select form-select-lg-custom" method="POST">
        {% for id, item in tovarlist.items() %}
            <option selected>{{item.category}}</option>
        {% endfor %}
    </select>
</div>
<div class="mb-3" style="width: 70%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
    <label class="form-label fw-semibold small text-muted">Цена</label>
</div>
<div class="container py-5" style="width: 100%;">
    <div class="row g-4" style="width: 100%;">
        <!-- КОЛОНКА 1: Основные контролы -->
        <div class="col-lg-6" style="width: 100%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
            <!-- Карточка с ползунками -->
            <div class="card card-hover border-0 shadow-sm p-4 mb-4" style="width: 100%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
                <!-- Простой горизонтальный -->
                <div class="mb-4" style="width: 100%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
                    <label class="form-label d-flex justify-content-between">
                        <span id="simpleValue" class="text-primary fw-bold" style="margin-left: auto; margin-right: auto; text-align: center; align-items: center;">50</span>
                    </label>
                    <input type="range" class="form-range" min="0" max="1000" value="500" id="simpleRange">
                </div>


        </div>
</div>
<div class="d-flex gap-2" style="width: 40%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
    <button class="btn btn-outline-primary btn-pill flex-grow-1">Добавить</button>
</div>
<div class="container py-4">
<div class="mb-2">
    <h1 class="fw-bold mb-1">Удалить блюдо</h1>
</div>
</div>

<div class="mb-3" style="width: 70%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
    <label class="form-label fw-semibold small text-muted">Удалить товар по названию</label>
    <select class="form-select form-select-lg-custom" method="POST">
        {% for id, item in tovarlist.items() %}
            <option selected>{{item.name}}</option>
        {% endfor %}
    </select>
</div>
<div class="d-flex gap-2" style="width: 40%; margin-left: auto; margin-right: auto; text-align: center; align-items: center;">
    <button class="btn btn-outline-primary btn-pill flex-grow-1">Удалить</button>
</div>
{% endblock %}